.head{
    top:30px;
    left: 30px;
    position:relative;
    top:50%;
    height: 100px;
}
.head a{
    position: absolute;
    top:45%;
    margin-left: 30px;
}

.hello{
    position: absolute;
    top:197px;
    left:118px;
}

.cards{
    left: 0px;
    top:300px;
    position: absolute;
    background: lightslategray;
    width: 100%;
    height: max-content;
    border-radius: 10px;
}
.cards h2{
    color: whitesmoke;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 0px;
}
.cards p{
    color: cornsilk;
}
div.posCard{
    margin-left: 252px;
}
div.card{
    border-radius: 5px;
}
.cards table{
    margin-top: 37px;
    margin-bottom: 0px;
}
